*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family:  sans-serif;
}

:root /*Variables*/
{
    --primary-color:#eb5757;
    --secondary-color:#222;
    --light-color:#f9f9f9;
    --dark-color:#333;
}
/*Inicio header*/
header
{
    position:fixed;
    z-index: 10;
    width: 100vw;
    height: 150px;
    background-color: var(--primary-color);
}

header .covid
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--light-color);
    background-color: var(--secondary-color);
}

header .covid button
{
    width: 140px;
    height: 35px;
    border-radius:17px;
    border: none;
    color: var(--light-color);
    background-color: var(--primary-color);
}

header .covid p
{
    font-size:18px;
}

header .menu 
{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 6px 110px 0 89px;
    color: var(--light-color);
    justify-content: space-between;   
}

header .menu div 
{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .menu div a
{
    height: 35px;
    width: 75px;
    padding-top: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    transition: all 0.5s ease;
    
}

header .menu div a:hover 
{
    background-color: var(--secondary-color);
}

header .menu div button
{
    width: 45px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    background-image: url(img/Carrito_de_compras.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border:none;
}

header .menu div button span
{
    width: 20px;
    height: 20px;
    padding-top: 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 20px;
    left:22px;
    text-align: center;
    background-color: var(--light-color);
}

header .menu span 
{
width: 200px;
height: 30px;
background-image: url(img/logo.svg);
background-repeat: no-repeat;
}
/*Fin header*/

/*Inicio main */

/*Inicio banner*/
main
{
    display:inline-block;
    margin-top:150px;
}

 main .banner 
{
    width: 100%;
    height: 600px;
    display:flex;
    justify-content:left;
    align-items: left;
    flex-direction:column;
    gap: 10px;
    background-image: url(img/hombre_montaña.jpg);
    background-repeat: no-repeat;
    background-position:100%;
    background-size: 100%;
    border: none;
} 

main .banner h1
{
    
    /*bottom: 200px;*/
    width: 400px;
    height:120px;
    margin-top:170px ;
    margin-left: 80px;
    font-size: 55px;
    color: var(--light-color);
} 


/* main .banner h1
{
    position: relative;
    width: 400px;
    height:120px;
    top:-40px;
    left: -370px;
    font-size: 55px;
    color: var(--light-color);

}  */

main .banner p
{
    
    width: 350px;
    height:70px;
    margin-left: 80px;
    font-size: 15px;
    color: var(--light-color);    
} 

main .banner button
{
    height: 35px;
    width: 140px;
    margin-left: 80px;
    font-size: 15px;
    border-radius: 5px ;
    border-color: #fff;
    color: var(--light-color);
    background-color: transparent;
}

main .banner button:hover
{
    background-color: #fff;
    color: var(--secondary-color);
} 
/*Fin banner*/

/*Inicio info*/
main .info
{   
    width: 100%;
    height: 100%;
} 

main .info .way 
{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .info .way .titles 
{
    padding: 70px 0px 25px 75px ;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

main .info .way .titles span 
{
    font-size: 17px;
}

main .info .way .titles h2
{
    font-size: 40px;

}

main .info .way .info2
{
    height: 100%;
    width: 50%;
    padding: 70px 80px 70px 50px;
    font-size: 15px;
    background-color: #fff;
}

main .container_cuadro
{
    padding:10px 40px;
    width: 100%;
    height: 100%;
    display:flex;
}

main .container_cuadro article .cuadros
{
    margin: 5px 45px;
    height: 350px;
    width: 330px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
main .container_cuadro article .cuadros .numbers
{
    position: relative;
    top: 40px;
    left:30px;
    font-size: 40px;
    color: var(--light-color);   
}

main .container_cuadro article .cuadros .hs
{
    position: relative;
    top: 90px;
    left:5px;
    text-align: center;
    font-size: 40px;
    color: var(--light-color);
}

main .container_cuadro .texts
{
    position: relative;
    bottom: 80px;  
    margin: 10px 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    width: 330px;
    color: var(--dark-color);    
}

main .container_cuadro article .img
{
    position: relative;
    left: 300px;
    bottom: 95px;
    width: 20px;
    height: 90px;
    background-repeat:no-repeat;
    
}

main .container_cuadro article .img_triangule
{
    position: relative;
    left: 245px;
    bottom: 95px;
    width: 20px;
    height: 90px;
    background-repeat:no-repeat;
}
/*Fin info*/

/*inicio banner2*/

main .banner2
{
    position:relative;
    width: 100%;
    height: 500px;
    background-image: url(img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: violet;
}

main .banner2 h2
{
    height: 100px;
    width: 550px;
    position: absolute;
    top: 150px;
    right: 70px;    
    font-size: 45px;
    color:var(--light-color);
}

 main .banner2 p
{
    height: 200px;
    width: 450px;
    position: absolute;
    top: 270px;
    right: 70px;
    font-size: 18px;
    color:var(--light-color);
} 

main .banner2 button
{
    height: 35px;
    width: 210px;
    position: absolute;
    top: 350px;
    right: 90px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color:var(--dark-color);
}
/*Fin banner2*/


/*Inicio products*/

.products
{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color:violet; */

}

main .products .title
{
    width: 100%;
    height: 150px;
    padding-left: 90px;
    padding-top: 65px;
    /* background-color: aqua; */
}

main .products .title span
{
    font-size: 14px;
}

main .products .title h2
{
    margin-top: 10px;
    font-size: 39px;
}

main .products .caja_products
{
    display: flex; 
    gap: 15px;
    padding: 60px; 
}

main .products .product_image1,.product_image2,.product_image3 
{
    width: 380px;   
    height:550px;
    position: relative;
    left: 25px;
    border-radius: 5px;
    /* background-color: #eb5757;  */
}

main .products .product_image1
{
    background-image: url(img/taza2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

main .products .product_image2
{
    background-image: url(img/taza.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

main .products .product_image3
{
    background-image: url(img/mochila.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

main .products .name
{
    font-size: 16px;
    position: absolute;
    bottom: -50px; 
    left: 130px;
}

main .products .btn_products 
{
    width: 190px;
    height: 35px;
    font-size: 15px;
    margin-top:120px;
    margin-left:580px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    color:var(--light-color);
    background-color: var(--secondary-color);
}

main .products .btn_products:hover
{
    background-color: var(--primary-color);
}

/*Fin products*/

/*Fin main*/

